@import "partials/variables";
@import "partials/mixins";
@import "partials/normalize";
//general
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 100% $main-font;
}                                                                  //general//
body{
  color: $gray;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: $gray;
}
h2{
  color:$darken-gray;
  font: 200% $title-font;
  font-weight: bold;
}
//navbar
.navbar{
    min-height: 51px;
    background-color: $background-color;
    border-top: 1px solid $light-gray;
    @include respond-to(wide-screens){
      width: 1250px;
      margin: 0 auto;
        }
    ul{
      li{
      float:left;
      list-style: none;
      text-transform: uppercase;
      padding: 15px 27px 17px 20px;
      color: $gray;
      font-weight: bold;
          a{
          font: 90% $condensed-font;
          font-weight: bold;
          transition: color 0.3s ease;
          &:hover{
            color: $black; 
                } 
              }
            }
          }
      }
.navbar::after{
  position: absolute;
  left:0;
  display: block;
  height: 51px;
  content:' ';
  width:100%;
  border-top: 1px solid $light-gray;
  background-color:$background-color;
  z-index:-1;
}
.main-navigation{
  li {
    border-left: 1px solid $light-gray;
  }
  li:last-child {
    border-right: 1px solid $light-gray;
  }  
}
.social-icons{
  padding: 0;
  float: right;
  margin-top:5px;
  ul{
    li{
  border: 1px solid $light-gray;
  border-radius: 50%;
  @include table-style(inline, none, 0 auto, 10px 13px); 
      }
    } 
  }  
.wrapper{
  width:100%;
  @include centered-display(block, 0 auto);
  }
header{
  border-bottom :1px solid $light-gray;
  }
.company-id{
  @include respond-to(wide-screens){
    width:1250px; 
    margin: 0 auto;
    }
  }
 
.logo{
  font: 200% $logo-font;
  color: $gray; 
  margin: 20px 0px 10px 0px;
}
.company-contact{
  float: right;
  list-style: none;
  line-height: 40px;
    ul{
      li{
    display: inline;
    font-size: 0.9em;
    color: $gray;
    margin-left:15px;
      } 
  }
}
#main-banner{ 
position: relative;
    img{ 
  width: 100%;
  @include centered-display(block, 0 auto);
    }
}
.text-over{
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
    p{
  padding:10px;
  }
}
p{
  span { 
  font: 200% $title-font;
  font-weight: bold;
  color: $darken-gray; 
  letter-spacing: -1px;  
  background-color: $white;
  padding: 10px; 
    }
  }
//section-1//
.nav-header{
  display: none;
}
.fa{
  color: $icon-color;
}
.tabs{
  text-align: center;
  font: 100% $condensed-font;
  @include centered-display(block, 0 auto);
  ul{
        li{
      color: $gray;
      @include table-style(inline, none, 0 auto, 0);
      }
    }
    li:first-child{
      text-transform: uppercase;
      border-right: 1px solid $salmon;
      color: $salmon;
      @include table-style(inline, none, 0 auto, 10px); 
    }
    &>li.desc{
      font: 110% $title-font;
      font-weight: 100;
      margin-left:10px;
    }
    @include respond-to(wide-screens){
      margin: 100px 0px 100px 0px;
    }
}

.container{
  display: block;
  margin: 0 auto;
  width:90%;
 }
.flex-container{
  @include respond-to(wide-screens){
      display:flex;
      width:1250px;
      max-height:500px;
      flex-direction: row;
      margin:auto;
      flex-wrap: wrap;
  } 
}
.flex-container-slider{
  margin-top:50px;
  @include respond-to(wide-screens){
      display:flex;
      width:1250px;
      max-height:500px;
      flex-direction: row; 
  } 
}
.flex-cells{
    @include respond-to(wide-screens){
      flex: 0 0 50%;
    }
}
.cellsrow{
    @include respond-to(wide-screens){
      display: flex;
      flex-direction:row;
      justify-content: center;
      margin:auto;
    }  
}  

.table-number{
  @include respond-to(wide-screens){
    padding:25px;
  }
  font: 350% $title-font;
  font-weight:300;
  color: $salmon; 
  text-align: center;
}
.table-content{
  padding:25px;
  h4{
    text-align: center;
    text-transform: uppercase;
    font-size:1.2em;
    font-weight: bold;
    @include respond-to(wide-screens){
      text-align:left;
    }    
  }
  ul{
    text-align: left;
    list-style:none;
    li::before {
  content: "\02022";
  margin-right:10px;
  color: red; /* or whatever color you prefer */
}
  }
}
.flex-container{
  margin-bottom:50px;
      @include respond-to(wide-screens){
        &> div{
        &:first-child{
            border-right: 1px solid $light-gray;
            border-bottom: 1px solid $light-gray;
        }
        &:nth-child(2){
            border-bottom: 1px solid $light-gray;
        }
        &:nth-child(3){
            border-right: 1px solid $light-gray;
        }
      } 
 }
}
//section-latest-works
.latest-works{
  background-color: $background-color
}
#latest_works{
    width: 90%;
    display: block;
    margin: 0 auto;
    @include respond-to(wide-screens){
      width:60%;
    }
}
.container img{
  width:80%;
  margin: 0 auto;
}
button.see-more{
  display: block;
  margin: 0 auto;
  font: 100% $condensed-font;
  font-weight: 500;
  background-color: $salmon;
  border: none;
  color:$white;
  padding:14px 22px 14px 22px;
  border-radius:6%;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  @include respond-to(wide-screens){
    display:inline;
  }
  &:hover{
    background-color: $dark-salmon;
  }
}
.section-content{
  margin-top:50px;
}
//blog-section                                                                       
.blog {
  @include respond-to(wide-screens){
    margin-top:200px;
  }
  color: $gray;
  h3{
  text-align: center;
  font-weight:600;
  color: $salmon;
  text-transform: uppercase;
    }
  p{
  padding:20px;
  text-align: center;
  }
}
.blog-post{
  margin-bottom: 20px;
  border-right: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  strong{
  text-transform: uppercase;
  color: $gray;                                                 
  }
  p{
  font: 80% $main-font;
  }
}
.prevblog{
  display: flex;
  justify-content: center;
  margin-top:50px;
  p{
    text-align: center;
  }
} 
//navbar
.navbar{
  ul{
    &> li{
       @include respond-to(middle-screens)
       { 
  float:left;
  font-size:0.9em;
          }
        }
    }
  }
/*menu-mobile*/
.company-contact {
  @include respond-to(phones){ 
    float: none; 
    text-align: center;
    margin:20px;
}
}
.company-logo{
  @include respond-to(phones){ 
  text-align: center;
}
}
.navbar{
  @include respond-to(phones){ 
    &>ul{
     &>li{
  float: none;
  text-align: center;
  padding: 23px;
        & a{
          color: $white;
          font-weight: 100;
          font-size: 1.1em;
        }
        } 
      }
  div {
    display: block;
    margin: 0 auto;
    width:250px;  
    }
  }
}
.main-navigation{
  @include respond-to(phones){
  margin: 0 auto;
  padding: 0;
  background-color: $salmon;
  &>li {
    border-bottom: 1px solid $dark-salmon;
    border-left: none;
  }
  &>li:last-child {
  border-right: none;
      }
    }
}
.social-icons {
  @include respond-to(phones){
    margin: 0 auto;
    display:block;
    padding: 20px;
    float: none;
    width: 50%;
  @include respond-to(xsphones){
   width: 60%;
  }
}
}
#burger-menu{
  @include respond-to(phones){
  height:40px;
  margin-top:25px;
  margin-bottom: 25px;
  background:url(../burger-menu.png) no-repeat 50% center;
  background-size: 35px 30px;
  cursor: pointer;
    }
  }
.navbar{
  @include respond-to(phones){
    & ul{
    height: 0;
    overflow: hidden;
      }
    & ul.open{
    height: auto;
    width: auto;
    }
  }
}
.wrapper{
  @include respond-to(phones){
  width:100%;
  max-width:1170px;
  margin: 0 auto;
  padding: 0;
  & .tabs {
  @include respond-to(phones){
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 40px;
        }
  @include respond-to(xsphones){
    max-width:90%;
    margin-top: 0px;
    padding: 20px;

        }
      }
    }
  }
.text-over{
  @include respond-to(phones){
  display: none;
  }}       
.flex-table{
  @include respond-to(phones){ 
  flex-wrap: wrap;
  }
  @include respond-to(xsphones){ 
    margin-top: 0px;
  }
  &>div {
    @include respond-to(xsphones){ 
    padding: 20px;
    width: 95%;
    }
  }
}
.flex-table{
  @include respond-to(phones){ 
    &>div:first-child{
    border:none;
    border-bottom: 1px solid $gray;
              }
    &>div:nth-child(3){
    border: none;
    border-bottom: 1px solid $gray;
          }
    &>div:nth-child(2){
    border:none;
    border-bottom: 1px solid $gray;
          }
    &>:last-child{
    border:none;
    border-bottom: 1px solid $gray;
      }
    }
  }                                                 
.flex-lattest-works{
 h3{
  @include respond-to(xsphones){
    font: 170% $title-font;
  }
}
  div:last-child{
    @include respond-to(wide-screens){
      width:70%;
      text-align: center;
    }   
  }
}
#blog{
  width: 90%;
  @include respond-to(wide-screens){
    width:100%;
  }
}
.blog {
  @include respond-to(xsphones){ 
    margin-top: 50px;
  }
}
//footer
footer{
  background-color: $like-black;
  margin-top:40px;
}
.footer-wrapper{
    h4{
  font-family: "Roboto Condensed";
  font-weight: 600;
  text-transform: uppercase;
  color: $footer-title;
    }
    p{
  text-align: left;
  color: $for-titles-gray;
    }
    label{
  font: 70% $title-font;
  color: $for-titles-gray;
  text-transform: uppercase;
    }
    @include respond-to(wide-screens){
      width:95%;
      width:1250px;
      padding: 0;
      flex-wrap: nowrap;
      justify-content: center;
      @include centered-display(flex, 0 auto);       
    }  
}
.copyright{
  width:100%;
  padding: 0;
  color: $gray;
  background-color: $copy-background;
  @include centered-display(block, auto);
}
.sign{
  max-width:1170px;
  margin: 0 auto;
  padding:35px;                             
}
.footer-wrapper{
  padding-top:10px;
  @include respond-to(wide-screens){
  flex-wrap: wrap;
  div{
  width:25%;
  padding: 2%;
    }
  }
 @include respond-to(xsphones){ 
  div{
  width:90%;
    }
  }
}



